.form-item {
  padding-top: 30px;
}

.dropdown {
  text-align: center;
}

select {
text-indent:50px;
font-size: 9pt;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
padding: 10px 0;
width: 100%;
}

select#auth {
 background-image: url('/assets/image/dropdown.png');
 background-repeat: no-repeat;
 background-size: 15px;
 background-position:10px 10px;
}

input#token {
  text-align: center;
}

select#auth:focus {

 background-image:none;
}

.btn:hover {
  background-color: white;
  border-radius:25px;
  color: black;
}

.btn-select {
  display: inline-block;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-radius: 2px;
  background-color: white;
  color: black;
  border: 2px solid #555555;

}

.btn-select:hover {
  background-color: white;
  color: black;
  border-color: rgb(56, 124, 255);
}