<div id="wrapper">
  <form class="login-form" method="post">
    <div class="center">
      <h1 class="spacing log-header">MultiFactor</h1>

      <div class="left">
        <div class="form-item">
          <input class="input" (blur)="this.placeholder = 'Enter the code'" type="text" name="token" id="token" placeholder="Enter the code" (focus)="this.placeholder = ''">
          <div class="dropdown">
            <select  id="auth" class="btn-select">
              <option value="SMS_FACTOR" selected>SMS Authentication</option>
              <option  value="GOOGLE_FACTOR" >Google Authentication</option>
            </select>&nbsp;
          </div>
        </div>
      </div>

    <div class="buttons">
          <input class="btn-yes btn" type="submit" value="Submit">
    </div>

    </div>
  </form>

</div>
