<div>
<div class="container" style="padding-top: 60px;">

  <h1 class="page-header">User Profile</h1>
  <div class="row">

    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQswzHMCVULjDZv0E67tAq7BgtEcIJMm_r6OKz3nrOlFNpLfwCwgcxNzA" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
         <strong>Welcome {{test.First_Name}}  {{test.Last_Name}}!</strong>
      </div>
      <h3>Personal info</h3>
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="fName22" class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" value= {{test.First_Name}} type="text" name="fName22" id="fName22" [(ngModel)]="test.First_Name" />
          </div>
        </div>
        <div class="form-group">
          <label for="lName22" class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" value= {{test.Last_Name}} type="text" name="lName22" id="lName22" [(ngModel)]="test.Last_Name" />
          </div>
        </div>
        <div class="form-group">
          <label for="email22" class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" value= {{test.Email}} type="text" name="email22" id="email22" [(ngModel)]="test.Email" />
          </div>
        </div>
        <div class="form-group">
          <label for="uName22" class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{test.Username}} type="text" name="uName22" id="uName22" [(ngModel)]="test.Username" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            
            <button (click)="updateUser(test.First_Name,
              test.Last_Name,
              test.Email,
              test.Username,
              this.userId)" type="submit" class="btn btn-primary">Update</button>
            <span></span>
            <button class="btn btn-default"[routerLink]="['']">Go Back</button>
            <button class="btn btn-default"[routerLink]="['/password']">Change Password</button>
            
          </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>

