.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #081072;
  color: #0ed8cf;
}

ul.nav-bar {
  padding-left: 50px;
  padding-right: 50px;
}

a.nav-name {
  font-weight: bold;
  letter-spacing: 5px;
}

li.nav-item {
  float: left;
}

li.nav-item a.nav-item {
  float: left;
  display: block;
  color: #0ed8cf;
  background-color: #081072;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav-item a.nav-item:hover {
 background-color: #0ed8cf;   
 color: #081072;
}

li.item-right {
  float: right;
}


/* Search Modal CSS */

#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}

.main{
 	margin:50px 15px;
     
}

.modal-content
{
    margin-left: -65%;
    width: 227%;
    background-color: white;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 5px;
    
}

label{
	margin-bottom: 5px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}


.form-control {
    height: auto!important;
padding: 8px 12px !important;
}

#newformbutton {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
}
.projectDetailsList{
	list-style-type: none; 
}
.pdlItem{
	display: inline;
}

#projectDetailsMenu{
	list-style-type: none;
	margin:0;
	/*padding:0;*/
	overflow: hidden;
	background-color: lightskyblue;
	cursor: pointer;
	padding: 10px;
    border-width:5px;  
    border-style:outset;
    margin-top: 5px;
    border-color: #00bada;
}
.projectDetailsMenuItem{
	float: left;
}
.projectDetailsMenuItem a{
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {
  background-color: #0ed8cf;
  color: #081072;
  font-weight: 500;
}

.navbar li a:focus {
  background-color: white;
  color: #081072;
  font-weight: 500;
}
