<div class="modal fade bs-example-modal-lg" bsModal #allocatedHours="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
	 role="dialog" aria-label="allocatedHrsLbl" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h3 *ngIf="currentProject != null" class="modal-title pull-left">Project: {{ currentProject?.Project_Name }}</h3>
					<div *ngIf="currentProject == null" class="modal-title pull-left"><h3>Project:</h3>
						<select [(ngModel)]="currentProject">
							<option *ngFor="let project of currentProjects">{{project.Project_Name}}</option>
						</select>
					</div>
				</div>
				<div class="modal-body">

					<h4> Employee: {{ currentEmployee?.Last_Name }}, {{ currentEmployee?.First_Name }}</h4>

					Hours to allocate to this employee: <select [(ngModel)]="selectedHours">
															<option *ngFor="let hours of hoursArray">{{hours}}</option>
														</select>
				<div *ngIf="(+selectedHours + +currentEmployee?.allocatedHours) > 40 "><span class="text-warning">Employee is overallocated</span></div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="bs-modal" (click)="allocatedHours.hide()">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="bs-modal" (click)="onModifyAllocatedHours(); allocatedHours.hide();">Save changes</button>
				</div>
			</div>
		</div>
	</div>