#wrapper {
	/* Center wrapper perfectly */
	width: 350px;
	height: 400px;
	margin: 12% auto;
}



div.header{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 32pt;
  background-image:url("assets/image/shark.mp4");
  color: white;
  letter-spacing: 20pt;
}

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translateX(-50%) translateY(-50%);

}
@media screen and (max-width: 500px) {
  div{width:70%;}
}
.image-bg-fluid-height{
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
