/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,900|Raleway:800');

body{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.off{
  margin-left: 145px;
}

.top{
  padding-top: 1%;
}
.bottom{
  padding-bottom: 1%;
}
.spacing{
  letter-spacing: 3pt;
  
  
}
.navbar{
	background-color: #081072;
	
	
}
