<div>
<div class="container" style="padding-top: 60px;">

  <h1 class="page-header">Employee Profile</h1>
  <div class="row">

    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQswzHMCVULjDZv0E67tAq7BgtEcIJMm_r6OKz3nrOlFNpLfwCwgcxNzA" class="avatar img-circle img-thumbnail" alt="avatar">
<h6>Upload a different photo...</h6>        <div>
<label for="fileButton" id="fileButton"></label>
        <input type="file" class="text-center center-block well well-sm"id="uPic" name="userPicture"tabindex=1>
</div>
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
         <strong>Welcome  {{employee.First_Name}}   {{employee.Last_Name}}!</strong>
      </div>
      <h3>Personal info</h3>
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for ="firstName" class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" value= {{employee.First_Name}} type="text"name="firstName" id="firstName" [(ngModel)]="employee.First_Name" disabled />
          </div>
        </div>
        <div class="form-group">
          <label for="lName2" class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" value= {{employee.Last_Name} type="text" name="lName2" id="lName2" [(ngModel)]="employee.Last_Name"  disabled />
          </div>
        </div>
        <div class="form-group">
          <label for="dob" class="col-lg-3 control-label">Date of Birth:</label>
          <div class="col-lg-8">
            <input class="form-control" value= {{employee.Date_of_Birth}} type="text" name="dob" id="dob" [(ngModel)]="employee.Date_of_Birth" />
          </div>
        </div>
        <div class="form-group">
          <label for="perNum" class="col-md-3 control-label">Personnel Number:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Personnel_Number}} type="text" name="perNum" id="perNum" [(ngModel)]="employee.Personnel_Number"  disabled/>
          </div>
        </div>
         <div class="form-group">
          <label for="workPosId" class="col-md-3 control-label">Workday Position Id:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Workday_Position_Id}} type="text" name="workPosId" id="workPosId" [(ngModel)]="employee.Workday_Position_Id" disabled />
          </div>
        </div>
        <div class="form-group">
          <label for="sLocation" class="col-md-3 control-label">Seat Location:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Seat_Location}} type="text" name="sLocation" id="sLocation" [(ngModel)]="employee.Seat_Location" />
          </div>
        </div>
        <div class="form-group">
          <label for="dOh" class="col-md-3 control-label">Date of Hire:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Hire_Date}} type="text" name="dOh" id="dOh" [(ngModel)]="employee.Hire_Date"  disabled/>
          </div>
        </div>
        <div class="form-group">
          <label for="termDate" class="col-md-3 control-label">Termination Date:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Termination_Date}} type="text" name="termDate" id="termDate" [(ngModel)]="employee.Termination_Date"  disabled/>
          </div>
        </div>
 		<div class="form-group">
          <label for="reportsTo" class="col-md-3 control-label">Reports To:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Reports_To}} type="text" name="reportsTo" id="reportsTo" [(ngModel)]="employee.Reports_To"  disabled/>
          </div>
        </div>
         <div class="form-group">
          <label for="sName" class="col-md-3 control-label">Shortname:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Shortname}} type="text" name="sName" id="sName" [(ngModel)]="employee.Shortname" disabled />
          </div>
        </div>
         <div class="form-group">
          <label for="oPhone" class="col-md-3 control-label">Office Phone:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Office_Phone_Number}} type="text" name="oPhone" id="oPhone" [(ngModel)]="employee.Office_Phone_Number" disabled />
          </div>
        </div>
         <div class="form-group">
          <label for="mNumber" class="col-md-3 control-label">Mobile Number:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Mobile_Phone_Number}} type="text" name="mNumber" id="mNumber" [(ngModel)]="employee.Mobile_Phone_Number" />
          </div>
        </div>
         <div class="form-group">
          <label for="cEmail" class="col-md-3 control-label">Company Email:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Company_Email}} type="text" name="cEmail" id="cEmail" [(ngModel)]="employee.Company_Email"  disabled/>
          </div>
        </div>
         <div class="form-group">
          <label for="pEmail" class="col-md-3 control-label">Personal Email:</label>
          <div class="col-md-8">
            <input class="form-control" value= {{employee.Personal_Email}} type="text" name="pEmail" id="pEmail" [(ngModel)]="employee.Personal_Email" />
          </div>
        </div>
        <div class="form-group"name="buttons" id="buttons" label="buttons">
          <label for="formControl" class="col-md-3 control-label"></label>
          <div class="col-md-8">
            
            
             <div class="form-group">
        <div class="col-lg-10 col-lg-offset top bottom">
 
              <button (click)="updateEmployee(

                this.employee.Date_of_Birth,
                this.employee.Seat_Location,
                this.employee.Office_Phone_Number,
                this.employee.Mobile_Phone_Number,
                this.employee.Personal_Email)" type="submit" class="btn btn-yes">Submit</button>
            </div>
          </div>  
          </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>
