
/*DnDCSS*/
element {
}
.panel-success {
    border-color: #3c9a5f;
}
.panel-info{
    padding: 10px;
    border-width:0px;  
    border-style:outset;
    border-color: lightskyblue;
}
.panel-heading{
    padding: 10px;
    border-width:5px;  
    border-style:outset;
}
#Emppanel {
    height:100vh;
    overflow: scroll;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #3c9a5f;
}
#Projpanel {
    height:25vh;
    overflow: scroll;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid lightskyblue;
    
}
    
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



/*-----------------------------------------*/




/*Add new project form*/

#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}

.main{
 	margin:50px 15px;
     
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 5px;
    
}

label{
	margin-bottom: 5px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}


.form-control {
    height: auto!important;
padding: 8px 12px !important;
}

#newformbutton {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:#009edf;
	    color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}




/*-----------------------------------------*/
