element {
}
.panel-success {
    border-color: #3c9a5f;
}
.panel-info{
    padding: 10px;
    border-width:0px;  
    border-style:outset;
    border-color: lightskyblue;
}
.panel-heading{
    padding: 10px;
    border-width:5px;  
    border-style:outset;
}
#Emppanel {
    height:100vh;
    overflow: scroll;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #3c9a5f;
}
#Projpanel {
    height:25vh;
    overflow: scroll;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid lightskyblue;
    
}
    
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}