
<div>

 <h2>Projects <button id="AddProj" type="button" class="btn" (click)="staticModal.show()">New Project</button></h2>
    <div class="row">
      <div class="col-sm-2">
        <div class="panel-success">
          <div class="panel-heading">
            Available Employees
          </div>
          <div id="Emppanel" class="body" dnd-sortable-container [dropZones]="['employees-zone']" [sortableData]="listEmployees">
            <ul class="list-group" >
              <li *ngFor="let employee of listEmployees; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{employee}}<span class="glyphicon glyphicon-menu-hamburger">{{employee.Employee_ID}}</span></li>
            </ul>
          </div>
        </div>
      </div>




<div class="row">
  <div *ngFor="let project of listProjects; let index = index;">
    <div>
        <!--wrap each project in container-->
        <div class="col-sm-2">
          <div class="panel-info">
            <div class="panel-heading" (click)="projectEdit.show()">
              {{project}} 
            </div>
            <div id="Projpanel" class="body" dnd-sortable-container [dropZones]="['employees-zone']" [sortableData]="listTeamOne">
              <ul class="list-group" >
                <li *ngFor="let item of listTeamOne; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>
              </ul>
            </div>
          </div>
          <!--end wrap project in container-->
    </div>
  </div>
</div>
      
    


 
<div class="modal fade bs-example-modal-lg" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Project</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	
				<h5>Create a new project form.</h5>
					<form class="" method="post" action="#">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Project Name:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter a Name for the Project"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="charge" class="cols-sm-2 control-label">Project Charge Code:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="chargecode" id="chargecode"  placeholder="Enter the Charge Code"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="manager" class="cols-sm-2 control-label">Project Manager:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="manager" id="manager"  placeholder="Enter the Manager for this Project"/>
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="Email" class="cols-sm-2 control-label">Project Contact Email:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="email" class="form-control" name="email" id="email"  placeholder="Enter Project POC Email"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<a target="_blank" type="button" id="newformbutton" class="btn btn-primary btn-lg btn-block login-button">Submit</a>
						</div>
						
					</form>
				</div>
		</div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg" bsModal #projectEdit="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Project Details</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="projectEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	
				<h5>View Project Details Form.</h5>
				
					<form class="" method="post" action="#">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Project Name:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name2"  [readonly] = "true"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="charge" class="cols-sm-2 control-label">Project Charge Code:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="chargecode" id="chargecode2"  [readonly]="true"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="manager" class="cols-sm-2 control-label">Project Manager:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="manager" id="manager2"  [readonly]="true"/>
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="Email" class="cols-sm-2 control-label">Project Contact Email:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="email" class="form-control" name="email" id="email2"  [readonly]="true"/>
								</div>
							</div>
						</div>
						<!--<a type = "button"  (click) = "enableForm()" >Submit</a>-->
						<input type = "button" (click) = "bee();" value = "Submit">
						<div class="form-group ">
							<a target="_blank" type="button" id="newformbutton" class="btn btn-primary btn-lg btn-block login-button">Submit</a>
						</div>
						
					</form>
				</div>
		</div>
  </div>
</div>
    </div>
</div>


 
	<!--<body>
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Project Details.</h5>
					<form class="" method="post" action="#">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Project Name:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  disabled />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="charge" class="cols-sm-2 control-label">Project Charge Code:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="chargecode" id="chargecode"  placeholder="Enter the Charge Code"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="manager" class="cols-sm-2 control-label">Project Manager:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="manager" id="manager"  placeholder="Enter the Manager for this Project"/>
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="Email" class="cols-sm-2 control-label">Project Contact Email:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="email" id="email"  placeholder="Enter Project POC Email"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<a target="_blank" type="button" id="newformbutton" class="btn btn-primary btn-lg btn-block login-button">Submit</a>
						</div>
						
					</form>
				</div>
			</div>
		</div>

		 
	</body>-->
