<div id="wrapper">
  <form class="login-form" method="post">
    <div class="center">
      <h1 class="spacing log-header">Login</h1>
      <div class="left">
        <div class="form-item">
         <label for="userName"  id="uName"></label>
                   <input class="input"
            (blur)="this.placeholder = 'Username'"
            type="text" name="userName"id="userName"
            placeholder="Username"
            [(ngModel)]="username"
            required="Username required"
            (focus)="this.placeholder = ''">
       
<div class="form-item">
          <input
           class="input"
            (blur)="this.placeholder = 'Password'"
             (focus)="this.placeholder = ''" type="password"
              name="password" id="password"
              required="Password required"
              [(ngModel)]="password"
               placeholder="Password">
        </div>
      </div>

       
        </div>
           <div class="buttons">
          <input (click)="login(username,password)" class="btn-yes btn" type="submit" value="Submit">
          <p>
            {{data.userId}}
          </p>
    </div>


    </div>
  </form>
<!--  <a class="buttons" [routerLink]="['/authorize']">after </a> -->


</div>
