<div class="row">
  <div class="col-lg-10">
    <div class="well bs-component">
      <form class="form-horizontal" (submit)="onAddSubmit()">
      <fieldset>

        <legend>Register User</legend>
        <div class="top bottom">
          <div class="form-group">
            <label class="col-lg-2  control-label">Username</label>
            <div class="col-lg-3">
              <input type="text" class="form-control" [(ngModel)]="username" name="username" required placeholder="Username">
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-3">
              <input class="form-control" type="password" [(ngModel)]="password" name="password" required placeholder="Password">
            </div>
          </div>
        </div>

        <div class="form-group top">
          <label class="col-lg-2 control-label">First Name</label>
          <div class="col-lg-2" row="1">
            <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" placeholder="First Name" required>
          </div>
        </div>

        <div class="form-group bottom">
          <label class="col-lg-2 control-label">Last Name</label>
          <div class="col-lg-3" row="1">
            <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" placeholder="Last Name" required>
          </div>
        </div>

        <div class="form-group top">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="inputEmail" [(ngModel)]="email" name="email"placeholder="Email" required>
          </div>
        </div>
<!--
        <div class="form-group top">
          <label class="col-lg-2 control-label">Supervisor Name</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" placeholder="Supervisor Name">
          </div>
        </div> -->


        <div class="form-group top">
          <label for="select" class="col-lg-2 control-label">Role</label>
          <div class="col-lg-3">
            <select class="form-control" id="select" [(ngModel)]="role" name="role" required>
              <option>User</option>
              <option>Employee</option>
              <option>Manager</option>
              <option>Admin</option>
            </select>
            <br>
          </div>
        </div>

        <div clas="form-group">
          <div class="col-lg-10 col-lg-offset-2 off bottom">
            <button (click)="register(username,password); success()" type="submit" class="btn btn-primary">Submit</button>
            <button (click)="cancel()" [routerLink]="['']" type="reset" class="btn btn-default">Cancel</button>
          </div>
        </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
